<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>LOOP MANAGER</h3>
                </div>

                <ul class="list-unstyled components">
                    
                    <li>
                        <a href="/admin/dashboard">Dash Board</a>
                    </li>
                    
                    <li>
                        <a href="/admin/cluster">Create Cluster</a>
                    </li>
                    <li>
                        <a href="verify_resources.html">Verify School</a>
                    </li>
                    <li>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#school_reg">
                                    Register School
                                  </button>
                    </li>
					<li>
						<a href="/">Logout</a>
					</li>
                </ul>

                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
                        </div>
						
                        
                    </div>
                </nav>

                
                 
				 
				 <div class="container">
  
  
  <form class="form-inline" method="post" action="/admin/cluster">
    <div class="form-group">
      <label for="email">Latitude:</label>
      <input type="text" class="form-control" name="lat" placeholder="Enter latitude">
    </div>
	<br /><br />
    <div class="form-group">
      <label for="pwd">Longitude:</label>
      <input type="text" class="form-control"  name="long" placeholder="Enter longitude">
    </div>
	<br /><br />
    <div class="form-group">
      <label for="pwd">Radius:</label>
      <input type="text" class="form-control"  name="radius" placeholder="Enter radius">
    </div>
	<br /><br />
    <input type="submit" class="btn btn-primary"/>
  </form>
</div></p>
				<p id="H1"></p>
                </div>
        </div>


        <div class="modal fade" id="school_reg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Scool Registration</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/reg-school" method="post" >
                        <div class="form-group">
                      School Name :
                      <input type="text" name="sname" required class="form-control input-sm" ><br>
                      </div>
                      <div class="form-group">
                      Principal Name  :
                      <input type="text" name="pname" required class="form-control input-sm" ><br>
                      </div>
                      <div class="form-group">
                      Incharge Name :
                      <input type="text" name="iname" required class="form-control input-sm" ><br>
                      </div>
                      <div class="form-group">
                      Mobile number :
                      <input type="number" name="number" required class="form-control input-sm" ><br>
                      </div>
                      <div class="form-group">
                      Email :
                      <input type="email" name="email" required class="form-control input-sm" ><br>
                      </div>
                      <div class="form-group">
                          Latitude :
                          <input type="text" name="lat" required class="form-control input-sm" ><br>
                          </div>
                       <div class="form-group">
                          Longitude :
                              <input type="text" name="lon" required class="form-control input-sm" ><br>
                              </div>
                      <div class="form-group">
                        <div class="form-group">
                      Address :
                      <input type="textarea" name="address" required class="form-control input-sm" ><br>
                      </div>
                      <div class="form-group">
                      Pincode :
                      <input type="number" name="pin" required class="form-control input-sm" ><br>
                      </div>
                      Password  :
                      <input type="password" name="password" required class="form-control input-sm" ><br>
                      </div>
                      
                      <div>
                        <input type="hidden" name="cluster" value="No">
                      </div>
                      
                      
                      <div>
                      
                      <br><br>
                      </div>
              
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="signup" >Sign Up</button>
                      </div>
                      
                      </form>
                    </div>
                   
                  </div>
                </div>
            </div>  


   
        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
		 
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>
