<div id="contain">
    <div class="row">
    <div class="col-xs-6 col-xs-offset-4" style="padding-right:180px;">
    <div class="panel panel-primary" >
    <div class="panel-heading" >
                              <center><h4 >Register </h4></center>
                          </div>
              <div class="panel-body">
  <center>  <p class="text-warning"><b>Thanks for being a part of our foundation</b> </p></center>
  
  </div>
  <center>
    
  
  </center>
  </div>
  </div>
  </div>
  </div>
  