<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>LOOP MANAGER</h3>
                </div>

                <ul class="list-unstyled components">
                    
                    
                    
                    <li>
                        <a href="#" onclick="myFunction()">Create Cluster</a>
                    </li>
                    <li>
                        <a href="#" onclick="myFunction1()">Verify School</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>

                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div>
                        
                        
                    </div>
                </nav>

                
                 
                 <p id="H">
                 <div class="container">
  
  
  <form class="form-inline" method="post">
    <div class="form-group">
      <label for="email">Latitude:</label>
      <input type="text" class="form-control" name="lat" placeholder="Enter latitude">
    </div>
    <div class="form-group">
      <label for="pwd">Longitude:</label>
      <input type="password" class="form-control"  name="long" placeholder="Enter longitude">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div></p>
                <p id="H1"></p>
                </div>
        </div>




   
        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
         function myFunction() {
  document.getElementById("H").innerHTML = "Paragraph changed!";
}
function myFunction1() {
  document.getElementById("H1").innerHTML = "Paragraph changed!";
}
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>
