<html>
<head>
    <title>Add Resources</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
function fill_form()
{
  var category = document.forms["ResAdd"]["categ"];
  var name = document.forms["ResAdd"]["r_name"];
  var describe = document.forms["ResAdd"]["description"];
  var capacity = document.forms["ResAdd"]["capacity"];

  if (name.value == "")
  {
    window.alert("Please enter your resource name.");
    name.focus();
    return false;
  }

  if (category.value == "")
  {
    window.alert("Please enter your category.");
    category.focus();
    return false;
  }

  if (describe.value == "")
  {
    window.alert("Please enter description");
    describe.focus();
    return false;
  }

  if (capacity.value==""|| capacity.value<0)
  {
    window.alert("Please enter a valid capacity");
    capacity.focus();
    return false;
  }


  return true;
}</script>
<style type="text/css">
               body {
 background-image: url("https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;

}
div {
opacity: 0.95;

filter: alpha(opacity=99); /* For IE8 and earlier */

}
 .navbar-logo
  {
  
  color:white;
  
  }
</style>
</head>
<body>
<div>
    <nav   class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-logo" href="index.html"><img src="https://loopeducation.weebly.com/uploads/1/0/8/8/108804851/loop-12.jpg" style="padding-top:10pwidth:20px;height:60px;"><b>&nbsp;&nbsp;L O O P &nbsp;&nbsp; F O U N D A T I O N</b><br>  </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
              <li><a href="/ "><span class="glyphicon glyphicon-home"></span><b>Home</b></a></li>
            <li><a href="#about"><b> About us</b></a></li>
                        

            <li><a href="/signinall"><b>Login</b></a></li>
            

          
            <li><a href="#" onclick="alert('For queries contact: xxxxxxxx@gmail.com');"><b>Contact</b></a></li>
        </div>
      </div>
    </nav>

<div class="jumbotron">
  <center>
    <table border="0">
    <tr>
<br><br>
        <td><h2><b>Add resources</b></h2>
        </td>
    </tr>
</table>
</center>

<hr>
<form name="ResAdd" onsubmit="return fill_form()">
        <b>Resource Name:</b> <input type="text" class="form-control" placeholder="Enter Resource Name" name="r_name">

  <div class="form-group">
    <b>Category:</b>
  <select class="form-control" id="sel1" name="categ">
    <option>Playground</option>
    <option>Library</option>
    <option>Activity</option>
    <option>Lab Equipment</option>
      <option>Part time teachers</option>
  </select>



        <b>Description:</b> <textarea class="form-control" rows="3" name="description"></textarea>
        <b>Capacity:</b> <input type="text" class="form-control" placeholder="Enter Capacity" name="capacity">
        <br><br>
      <center><input type="submit" class="btn btn-success" value="Submit">
  </div>
</form>
</div>
</body>
</html>
