<!DOCTYPE html>
<html>
<head>
    <title>Resource list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <nav   class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-logo" href="index.html"><b>L O O P F O U N D A T I O N</b><br>      Hyderabad</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
					    <li><a href="/ "><span class="glyphicon glyphicon-home"></span><b>Home</b></a></li>
						<li><a href="index.html"><b> About us</b></a></li>
                        <li><a href="/registerall "></span><b>Registration</b></a></li>

						<li><a href="/signinall"><b>Login</b></a></li>
						<li><a href="patners.html"><b>Partners</b></a></li>

						<li><a href="team.html"><b>Team</b></a></li>
						<li><a href="contact.html"><span class="glyphicon glyphicon-earphone"></span><b>Contact us</b></a></li>
                    </ul>
        </div>
      </div>
    </nav>
    </div>
    <div class="jumbotron">
    <table border="0">
    <tr>
        <td>
    <img src="https://loopeducation.weebly.com/uploads/1/0/8/8/108804851/loop-12.jpg"/>
           </td>
        <td><h2>Resources available to</h2>
        </td>
    </tr>
</table>
    <hr>

   <ul class="list-group">

        {% for r in res %}
  <li class="list-group-item">
<div class="card" style="width: 18rem;" >
  <div class="card-body">
  	  <h5 class="card-title"> {{r.name}} </h5>
    <h6 class="card-subtitle mb-2 text-muted"> {{r.categ}} | {{r.capacity}} </h6>
    <p class="card-text"> {{r.desp}} </p>
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
    </div>
</div>
  </li>
     {% endfor %}
    </ul>

</div>

</body>