<!DOCTYPE html>
<html lang="en">
<head>
    <title>School Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
            body {
              background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(128, 128, 128, 0.65), 
      rgba(128, 128, 128, 0.65)
    ),
    /* bottom, image */
    url("https://live.staticflickr.com/94/250121794_5cff6693da_b.jpg");
    background-repeat: no-repeat;
        background-size: cover;
}

    .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>	
<div class="jumbotron" style="background: transparent;">
    <table border="0">
    <tr>
        <td>
    <img src="https://loopeducation.weebly.com/uploads/1/0/8/8/108804851/loop-12.jpg"/>
           </td>
        <td><h2 style="font-weight: 500;text-transform:uppercase">Welcome, {{school.name}}</h2>
        </td>
    </tr>
</table>

<hr>
    <div class="row" style="background: transparent;">
        {% if res %}
        <div class="col-4" style="background: transparent;height: 20%;overflow-y: auto;overflow-x: hidden">
            <ul class="list-group" style="height: 20%;overflow-y: auto;overflow-x: hidden">
          {% for r in res %}
  <li class="list-group-item">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {% if r.url %}
          <img src="{{r.url}}" class="card-img-top" alt="...">
        {% endif %}
        <h5 class="card-title" style="font-weight: 500;text-transform:uppercase"> {{r.name}} </h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{r.category}} </h6>
        <p class="card-text"> {{r.desp}} </p>
        {% if r.verified %}
        {% if r.avail %}
        <a href="#" class="btn btn-outline-success btn-sm">Available</a>
        {% else %}
        <a href="#" class="btn btn-outline-danger btn-sm">Booked</a>
        {% endif %}
        {% endif %}
        {% if not r.verified %}
        <a href="#" class="btn btn-outline-dark btn-sm">Unverified</a>
        {% endif %}
      </div>
    </div>
  </li>
    {% endfor %}
    </ul>

        </div>
        {% endif %}
        <!--&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-->
        <div class="col" style="background: transparent;">
            <a href="/home/resource" class="btn btn-success btn-lg btn-block" > + Add Resource</a>
<a class="btn btn-primary btn-lg btn-block" href="/home/dashboard/request_resource">Request Resource</a>
                    <ul class="list-group">
                    </div>
                    <div class="col-" style="background: transparent;">
  <li class="list-group-item">
<div class="card bg-light mb-3" style="width: 18rem; " >
  <div class="card-body" >
    <h5 class="card-title" style="text-transform:uppercase">{{school.name}}</h5>
    <p class="card-text">Principal Name : {{school.principle}} </p>
      <p class="card-text">Incharge Name : {{school.incharge}}</p>
      <p class="card-text">Mobile number : +91-{{school.number}}</p>
      <p class="card-text">Email : {{school.email}}</p>
      <p class="card-text">Address : {{school.address}} </p>
      <p class="card-text">Pincode : {{school.pincode}}</p>
   
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reg">
  Edit details
</button> -->
<a href="/logout_stu" class="btn btn-danger">Logout</a>
  </div>
</div>


  </li>

    </ul>

        </div>
        <div class="modal fade" id="reg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/register" method="post" >
  <div class="form-group">
School Name :
<input type="text" name="sname" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Principal Name  :
<input type="text" name="pname" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Incharge Name :
<input type="text" name="iname" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Mobile number :
<input type="text" name="number" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Email :
<input type="text" name="email" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
  <div class="form-group">
Address :
<input type="text" name="text" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Pincode :
<input type="text" name="email" required class="form-control input-sm" ><br>
</div>
Password  :
<input type="password" name="pass" required class="form-control input-sm" ><br>
</div>



<div>

<input type="submit" name="signup" value="signup">

<br><br>
</div>

</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>
</div>
</body>
</html>