<!DOCTYPE html>
<html lang="en">
<head>
    <title>School Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
    .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
<div class="jumbotron">
    <table border="0">
    <tr>
        <td>
    <img src="https://loopeducation.weebly.com/uploads/1/0/8/8/108804851/loop-12.jpg"/>
           </td>
        <td><h2>Add resources</h2>
        </td>
    </tr>
</table>

<hr>
    <div class="row">
        <div class="column">
            <ul class="list-group">
  <li class="list-group-item">
<div class="card" style="width: 18rem;" >
  <div class="card-body" style="padding-top: 50px;padding-bottom: 59px " >
    <h5 class="card-title">Resource 1</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Description</p>
      <button type="button" class="btn btn-success">Resource available</button>
      <button type="button" class="btn btn-danger">Resource Unavailable</button>
      <button type="button" class="btn btn-default">Not Verified</button><br>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </li>

    </ul>

        </div>
        <div class="column">
            <button type="button" class="btn btn-primary btn-lg btn-block">Add Resource</button>
<button type="button" class="btn btn-default btn-lg btn-block">Request Resource</button>
                    <ul class="list-group">
  <li class="list-group-item">
<div class="card" style="width: 18rem; " >
  <div class="card-body" >
    <h5 class="card-title">Resource 1</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Description</p>
    <p class="card-text">Description</p>
      <p class="card-text">Description</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </li>

    </ul>
        </div>
    </div>
</div>
</body>
</html>