<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!--jQuery library--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript--> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Loop Foundation</title>

	<style>
   .navbar-logo
  {
  
  color:white;
  
  }
  .banner-image
 {
        padding-bottom: 50px;    
        margin-bottom: 20px;   
        text-align: center;    
        color: #f8f8f8;     
        background: url("bg.png") no-repeat center;    
        background-size: cover;
 }
 .inner-banner-image
 {
      padding-top: 12%;
     position: center;
      width:80%;    
      margin:auto;
      padding-left: 25%;
      padding-right: 300px;
      
}
.banner-content
{
       position: center;   
       padding-top: 6%;   
       padding-bottom: 6%;   
       overflow:hidden;   
       margin-bottom: 12%;    
       background-color: rgba(0, 0, 0, 0.7);   
       max-width: 660px; 
       
       
       
}
 .button
 {
       color: #000000;    
       background-color: #f8f8f8;    
       border-color: #5c3335;   
       box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);  
       padding: 10px 16px;     font-size: 18px;    
       border-radius: 6px; 
 
 }
 </style>

</head>
<body>

	<div>
    <nav   class="navbar navbar-inverse navbar-fixed-top">
        
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-logo" href="index.html"><b>L O O P F O U N D A T I O N</b><br>      Hyderabad</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
					    <li><a href="/ "><span class="glyphicon glyphicon-home"></span><b>Home</b></a></li>
						<li><a href="index.html"><b> About us</b></a></li>
                        
                        
						<li><a href="/signinall"><b>Login</b></a></li>
            <li><a href="#" onclick="alert('For queries contact: xxxxxxxx@gmail.com');"><b>Contact</b></a></li>
						
						
						
                    </ul>
        </div>
      </div>
    </nav>
    </div>
<div class="content">
            <div class="banner-image">
                <div class="inner-banner-image">
				
                    <div class="banner-content">
					
						           <br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ssignin">
  Sign in as School Incharge
</button>
                        <br><br><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#msignin">
  Sign in as Loop Manager
</button>
                        <br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nreg">
  Not Registered?
</button>
                        

                        <br><br>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>

<div id="errormsg" class="container text-align-center" >
  {%if %}
</div>

</div>

<div class="modal fade" id="ssignin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in as School Incharge</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action ="/signin-sch" >
          <div class="form-group">

            Email :
            <input type="text" name="email" required class="form-control input-sm" ><br>
        </div>
    
  <div class="form-group">

Password  :
<input type="password" name="password" required class="form-control input-sm" ><br>
</div>
<div>



<br><br>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="submit" name="submit" value="reglm" class="btn btn-primary">Sign In</button>
</div>

</form>
      
      
    </div>
  </div>
</div>
</div>




<div class="modal fade" id="msignin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in as Loop Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="post" action = "/signin-lm" >
          <div class="form-group">

Email :
<input type="text" name="email" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
  

Password  :
<input type="password" name="password" required class="form-control input-sm" ><br>
</div>
<div>



<br><br>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="submit" name="submit" value="reglm" class="btn btn-primary">Sign In</button>
</div>

</form>
      
      
    </div>
  </div>
</div>
</div>





<div class="modal fade" id="nreg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register as Loop Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/register" method="post" >
  <div class="form-group">
 Name :
<input type="text" name="name" required class="form-control input-sm" ><br>
</div>

<div class="form-group">
Mobile number :
<input type="text" name="number" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Email :
<input type="text" name="email" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Password :
<input type="password" name="password" required class="form-control input-sm" ><br>
</div>
<div class="form-group">
Re enter Password :
<input type="password" name="rpass" required class="form-control input-sm" ><br>
</div>
<div>
<br><br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="submit" name="submit" value="reglm" class="btn btn-primary">Sign Up</button>
</div>

</form>
      </div>
      
    </div>
  </div>
</div>



</body>
</html>